<section class="about-section">
    <div class="container">
        <div class="row">                
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About Us</span>
                        <h2>Efficient Shuttle Bus Booking and Tracking for Cognizant Employees</h2>
                    </div>
                    <div class="text">At Cognizant, we understand the importance of a seamless and efficient commute for our employees. Our shuttle bus booking and tracking system is designed to provide a hassle-free transportation experience, ensuring that you can focus on what matters most - your work. With our state-of-the-art technology, you can easily book and track your shuttle buses, making your daily commute more convenient and stress-free.</div>
                    <ul class="list-style-one">
                        <li>Real-time bus tracking</li>
                        <li>Easy online booking</li>
                        <li>Notifications and alerts</li>
                        <li>Safe and comfortable rides</li>
                    </ul>
                    <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img src="https://tse1.mm.bing.net/th/id/OIP.TBE1S9BNPLEDm8O2ov8J-QHaKb?pid=ImgDet&w=178&h=250&c=7&dpr=1.5" alt=""></a></figure>
                    <figure class="image-2"><a href="#" class="lightbox-image" data-fancybox="images"><img src="https://tse4.mm.bing.net/th/id/OIP.J1RpDGcEOkf0O87WGnmGvwHaK0?pid=ImgDet&w=178&h=259&c=7&dpr=1.5" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>