:root {
  --white: #fff;
  --primary-color: #3783b5;
  --brand-success: #46be8a;
  --brand-danger: #f73737;
}

body {
  padding: 15px;
  background-color: black;
}

.modal-content {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  background-color: #fefefe;
}

.bus {
  border: 1px solid #ddd;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.seats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.seats .seat {
  flex: 0 0 14.2857142857%;
  padding: 3px;
  position: relative;
  justify-content: center;
}

.seats .seat label {
  border-radius: 4px;
  background: var(--primary-color);
  padding: 0;
  width: 25px;
  height: 25px;
  margin-bottom: 0.1rem;
  display: inline-block;
  font-size: 0.7rem;
  text-align: center;
  line-height: 25px;
  color: var(--white);
  cursor: pointer;
}

.seats .seat input[type="radio"] {
  display: none !important;
}

.seats .seat input[type="radio"]:checked + label {
  background: var(--brand-success);
}

.seats .seat input[type="radio"]:disabled + label {
  cursor: not-allowed;
  background: var(--brand-danger);
}

.available-seat {
  background: var(--primary-color);
}

.booked-seat {
  background: var(--brand-danger);
  cursor: not-allowed;
}

.chosen-seat {
  background: var(--brand-success);
}

/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;  
  background: radial-gradient(ellipse farthest-corner at center top, #0d0303, #090314);
  color: #363c44;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

/*--------------------
Grid Container
--------------------*/
.grid-container {
  background-color: #040943 ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust the gap between grid items as needed */
  padding: 20px; /* Optional padding around the grid */
}

/*--------------------
Boarding Pass
--------------------*/
.boarding-pass {
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  overflow: hidden;
  text-transform: uppercase;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  }

  small {
    display: block;
    font-size: 11px;
    color: #A2A9B3;
    margin-bottom: 2px;
  }

  strong {
    font-size: 15px;
    display: block;
  }

  /*--------------------
  Header
  --------------------*/  
  header {
    background: linear-gradient(to bottom, #f0cb6e, #bd7100);
    padding: 12px 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 80px;
      height: 40px;
    }

    .flight {
      color: #fff;
      text-align: right;

      small {
        font-size: 10px;
        margin-bottom: 2px;
        opacity: 0.8;
      }

      strong {
        font-size: 20px;
      }
    }
  }

  /*--------------------
  Cities
  --------------------*/
  .cities {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .city {
      text-align: center;

      strong {
        font-size: 30px;
        font-weight: 300;
        line-height: 1;
      }

      small {
        margin-bottom: 0px;
        margin-left: 3px;
      }
    }

    .airplane {
      width: 30px;
      height: 25px;
      animation: move 3s infinite;
    }

    @keyframes move {
      40% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  /*--------------------
  Infos
  --------------------*/
  .infos {
    display: flex;
    border-top: 1px solid #ff6f61;

    .places,
    .times {
      width: 50%;
      padding: 10px 0;

      &::after {
        content: '';
        display: table;
        clear: both;
      }
    }
    
    .times {
      strong {
        transform: scale(0.9);
        transform-origin: left bottom;
      }
    }

    .places {
      background: #ffebee;
      border-right: 1px solid #ff6f61;
      
      small {
        color: #ffeb36;
      }

      strong {
        color: #e7ff49;
      }
    }

    .box {
      padding: 10px 20px 10px;
      width: 47%;
      float: left;

      small {
        font-size: 10px;
      }
    }
  }

  /*--------------------
  Strap
  --------------------*/
  .strap {
    clear: both;
    position: relative;
    border-top: 1px solid #ff6f61;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    .box {
      padding: 23px 0 20px 20px;

      & div {
        margin-bottom: 15px;
        
        small {
          font-size: 10px;
        }

        strong {
          font-size: 13px;
        }
      }

      sup {
        font-size: 8px;
        position: relative;
        top: -5px;
      }
    }
    .qrcode {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 80px;
      height: 80px;
    }
  }
}.available-seat {
  background-color: blue !important;
  color: white !important;
}

.booked-seat {
  background-color: red !important;
  color: white !important;
}

.chosen-seat {
  background-color: green !important;
  color: white !important;
}