.container {
    display: flex;
    flex-direction: column;
  }
  .top-row, .bottom-row {
    display: flex;
    width: 100%;
  }
  .search-bar {
    flex: 0 0 70%;
  }
  .top-podcasts, .hosts {
    flex: 1;
  }
  .slide-display {
    flex: 0 0 70%;
  }
  